Importing Libraries

In [1]:
import os 
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("../data/transformed/final_cleaned_sales_data.csv")

In [3]:
df.head(20)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,computed_total
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200,200
10,11,2023-02-14,CUST011,Male,23,Clothing,2,50,100,100
11,12,2023-10-30,CUST012,Male,35,Beauty,3,25,75,75
12,13,2023-08-05,CUST013,Male,22,Electronics,3,500,1500,1500
13,14,2023-01-17,CUST014,Male,64,Clothing,4,30,120,120
14,15,2023-01-16,CUST015,Female,42,Electronics,4,500,2000,2000
15,16,2023-02-17,CUST016,Male,19,Clothing,3,500,1500,1500
16,17,2023-04-22,CUST017,Female,27,Clothing,4,25,100,100
17,18,2023-04-30,CUST018,Female,47,Electronics,2,25,50,50
18,19,2023-09-16,CUST019,Female,62,Clothing,2,25,50,50
19,20,2023-11-05,CUST020,Male,22,Clothing,3,300,900,900

In [4]:
os.makedirs('../warehouse', exist_ok=True)

Making the connection with MySQL database and giving the database name as retail_db

In [5]:
engine = create_engine("mysql+mysqlconnector://airflow_user:airflow_pass@mysql:3306/retail_db")

Saving the data in database as transactionsRecord

In [6]:
df.to_sql('transactionsRecord', con =engine, if_exists="replace",index=False)

-1

In [7]:
checking = pd.read_sql('select * from transactionsRecord ;',engine)
print(checking)

    Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                1  2023-11-24     CUST001    Male   34           Beauty
1                2  2023-02-27     CUST002  Female   26         Clothing
2                3  2023-01-13     CUST003    Male   50      Electronics
3                4  2023-05-21     CUST004    Male   37         Clothing
4                5  2023-05-06     CUST005    Male   30           Beauty
..             ...         ...         ...     ...  ...              ...
57              58  2023-11-13     CUST058    Male   18         Clothing
58              59  2023-07-05     CUST059    Male   62         Clothing
59              60  2023-10-23     CUST060    Male   30           Beauty
60              61  2023-04-09     CUST061    Male   21           Beauty
61              62  2023-12-27     CUST062    Male   18           Beauty

    Quantity  Price per Unit  Total Amount  computed_total
0          3              50           150             150
1          2             500          1000            1000
2          1              30            30              30
3          1             500           500             500
4          2              50           100             100
..       ...             ...           ...             ...
57         4             300          1200            1200
58         1              50            50              50
59         3              50           150             150
60         4              50           200             200
61         2              50           100             100

[62 rows x 10 columns]